@use '../utils/_all.sass' as utils

.hero__circle
  width: 90%
  aspect-ratio: 1/1
  border-radius: 100%
  display: flex
  background-image: radial-gradient(closest-side, #dbeafe, #dbeafe00)

  @media screen and (min-width: utils.$desktop)
    animation: rotate 60s linear infinite

@keyframes rotate
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

@media screen and (min-width: utils.$desktop)
  .content__container-images,
  .services__container-images
    svg
      transition: all 0.3s ease

  .content__container-images:hover,
  .services__container-images:hover
    svg
      scale: 1.05