@use '../utils/_all' as utils

// HERO
.hero__title
  font-size: 7.2rem
  font-weight: 800
  line-height: 7.9rem
  color: utils.$color-text

.hero__desc
  @extend %font-size-18-28-400

// FEATURES
.features__card
  &-title
    @extend %font-size-24-24-700
    color: utils.$color-text

  &-text
    @extend %font-size-18-28-400

// CONTENT
.content
  &__title
    @extend %font-size-56-60-800

  &__info
    @extend %font-size-18-28-400
    text-align: center

  &__accordion-title
    @extend %font-size-20-22-500

// TESTIMONIALS
.testimonials
  &__title
    font-size: 2rem
    font-weight: 700
    letter-spacing: 0.3rem
    color: #475569

.quote
  &__text
    @extend %font-size-24-38-400
    color: utils.$color-text

  &__open,
  &__close
    font-size: 3.2rem
    font-weight: 700
    line-height: 3.5rem

  &__open
    color: utils.$features-yellow

  &__close
    color: utils.$features-red

  &__footer-text
    @extend %font-size-18-28-400
    line-height: normal

    &-strong
      @extend %font-size-20-22-500

// FAQ
.faq
  &__title
    @extend %font-size-56-60-800

  &__question
    @extend %font-size-24-38-400
    color: utils.$color-main

// SERVICES
.services
  &__title
    @extend %font-size-56-60-800
    text-align: left

  &__info
    @extend %font-size-18-28-400